<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107812676860-43mkmg6jhipcbsbldskf2k8ve7ujvhjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107812676860-43mkmg6jhipcbsbldskf2k8ve7ujvhjc</string>
	<key>API_KEY</key>
	<string>AIzaSyCYuajbtQkhz8QL52Y0eueakO1yFoZMAWg</string>
	<key>GCM_SENDER_ID</key>
	<string>107812676860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.interviewtask.moviesApplication</string>
	<key>PROJECT_ID</key>
	<string>movies-application-9d4ab</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-application-9d4ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107812676860:ios:14c8f0f6af5751d541e379</string>
</dict>
</plist>